<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Welcome</key>
	<dict>
		<key>Text</key>
		<string>Welcome to Text Memory! (Hmm, I should rename this...TMT?)</string>
	</dict>
	<key>Example</key>
	<dict>
		<key>Text</key>
		<string>The quick brown fox jumped over the lazy dog.
		
abcdefghijklmnopqrstuvwxyzabcdefghijklm</string>
	</dict>
</dict>
</plist>
